/* filter style */

.filter-link{
    text-decoration: none;
    color: #222;
}

.filter{
    margin-top: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.6;
    font-size: 1.25rem;

    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    transition: opacity 0.3s ease,
                transform 0.3s ease;
}

.filter:hover{
    opacity: 1 ;
    cursor: pointer;
    transform: translateY(-3px);
}

.filter::after {
    content: "";
    position: absolute;
    bottom: .3rem;
    left: 50%;

    width: 0;
    height: 2px;

    background: #222;
    border-radius: 2px;

    transform: translateX(-50%);
}

.filter.active {
    opacity: 1;
}

/* On hover */
.filter:hover::after {
    width: 100%;
    opacity: .4;
    
}

.filter.active::after {
    width: 100%;
    opacity: 1;
}



#filters{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(236, 236, 236);
}

.filter p{
    font-size: 0.8rem;
}

.toolbar-right{
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.listings-toolbar{
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.sort-listing-methods {
    appearance: none;
    border-radius: 30px;
    color: #222;
    padding: 12px 45px 12px 18px;
    background: white;
    font-weight: 400;
    font-size: .9rem;
    cursor: pointer;
    transition: .2s;
    border: 2px solid rgb(234, 229, 229);
}

.sort-listing-methods:hover{
    border-color: #c5c5c5;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
    font-size: 13px;
}

.tax-toggle{
    display: flex;
    align-items: center;
    gap: .8rem;

    padding: .75rem 1rem;

    border: 2px solid rgb(235, 229, 229);

    border-radius: 10rem;
    
    background: #fff;
    transition: .2s;

}

.tax-toggle-text{
    font-size: .9rem;
    font-weight: 400;
    color: #222;
}

.switch{
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    inset: 0;
    background: #b0b0b0;
    border-radius: 34px;
    transition: .25s;
    cursor: pointer;
}

.slider::before{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    
    left: 3px;
    bottom: 3px;

    background: #fff;
    border-radius: 50%;

    transition: .25s;
}

.switch input:checked + .slider{
    background: #2796c5;
}

.switch input:checked + .slider::before{
    transform: translateX(20px);
}

.tax-toggle:hover{
    border-color: #c5c5c5;
}