body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* navbar */
.navbar{
    height: 5rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    display: flex;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem;
} /* Card Effect */

.show-card{
    transition: all 0.3s ease;
}

.show-card:hover{
    transform: scale(1.02);
    box-shadow: 0 7.5px 15px rgba(0,0,0,0.2);
}

.all-card-img-top{
    border-radius: 1rem 1rem 0 0;
     width: 100%;
     object-fit: cover;
}
.card-body{
    padding: 1rem 0 1rem 1rem;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* form (new.ejs) */
textarea{
    resize: none;
}

.new-btn{
    background-color: #fe424d;
    border: none;
}

.new-btn:hover{
    background-color: #fb4753;
    transform: scale(1.05);
}

/* show page(show.ejs) */
.show-img{
    height: 50vh;
}

.btns{
    display: flex;
}

.detailed-card{
    padding-left: 0;
    padding-right: 0;
}

.show-card-img-top{
    border-radius: 0;
}